@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Devparty', Helvetica, Arial, sans-serif;

  @apply bg-gray-50;
  @apply dark:bg-black;
}

.shimmer {
  @apply animate-pulse;
  @apply bg-gray-300;
  @apply dark:bg-gray-600;
}

.linkify a,
.prose a {
  @apply text-brand-500;
  @apply hover:text-brand-600;
}

.tooltip {
  @apply bg-gray-800 dark:bg-gray-600;
  @apply px-2 py-1;
  @apply text-xs;
  @apply text-white;
  @apply rounded-lg;
}

.mobile-footer {
  padding-bottom: env(safe-area-inset-bottom);
}

.web3modal-modal-lightbox {
  @apply !z-20;
}

.tab-focus-ring {
  @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-brand-300 focus-visible:ring-offset-4 focus-visible:rounded-full;
}
